<div class="card-container">
  <div class="container">
    <h2>Season Sales!!!!</h2>
    <div class="innerContainer">
      <div class="linkBox">
        <a class="card" routerLink="WinterSale">

        <span>Winter Sale</span>
  
          </a>
      </div>
    
      <div class="linkBox">
        <a class="card " routerLink="SummerSale">

           <span>Summer Sale</span>
  
        </a>
      </div>
    
      <div class="linkBox">
        <a class="card" routerLink="MonsoonSale">

          <span>Monsoon Sale</span>
  
        </a>
      </div>
      <div class="linkBox">
    
        <a class="card" routerLink="ServiceSale">

          <span>Extra</span>

        </a>
     
      </div>
    </div>  
  </div>
</div>
  
<router-outlet></router-outlet>