
<div class="container">
    <div class="lineDivider">
      <div>*******************************************************************************</div>
      <h2>Bumpper Offer !!!!!</h2>
      <div>******************************************************************************</div>
  </div>
  <div class="linkBox">
    <a class="card">
  
      <span>Women</span></a>
      <br>
    </div>
    <div class="linkBox">
      <a class="card">
      <span>Men</span></a>
      <br>
    </div>
    <div class="linkBox">
  
  
  
      <a class="card">
      <span>Children</span>
    </a>
  </div>
  <div class="buttonBox" routerLink="">
  <button>Back</button>
  </div>
  
    
  </div>
  
  
  